
html{
    /* width: 50%; 
    height: 50%; */
}

body{
    /* background: black;
    width: 80%; 
    height: 80%; */
}

.container{
    background: beige;
    /* width: 100vw; */
    height: 100vh;
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    /* flex-flow: column nowrap; */
    
    justify-content: flex-start;
    align-items: baseline;
    align-content: space-between;
}

.item{
    width: 100px;
    height: 100px;
    border: 1px solid;
}

.itemSE{
    width: 90px;
    height: 110px;
    border: 1px solid black;
}

.item1 {
    background: red;
    padding: 20px;
    order: 4;
}

.item2 {
    background: blue;
    order: 3;
}
.item3 {
    background: yellow;
    order: 5;
}
.item4 {
    background: rebeccapurple;
    order: 1;
}
.item5 {
    background: wheat;
    order: 2;
}

.item6 {
    background: teal;
    margin: 30px;
}
.item7 {
    background: yellowgreen;
}
.item8 {
    background: aqua;
}
.item9 {
    background: firebrick;
}
.item10 {
    background: khaki;
}
.item11 {
    background: chartreuse;
    padding: 30px;
}

.item12 {
    background: darkorange;
}
.item13 {
    background: turquoise;
}
.item14 {
    background: saddlebrown;
}
.item15 {
    background: slateblue;
}
.item16 {
    background: darkgrey;
    margin: 20px;
}
.item17 {
    background: fuchsia;
}
.item18 {
    background: green;
}
.item19 {
    background: goldenrod;
}
.item20 {
    background: hotpink;
}
