:root {
    /*  Color*/
    --white-color: #fff;
    --black-color: #000000;
    --blue-color: #045fd4;
    --red-color: #ff0000;
    --grey-dark-color: #909090;
    --grey-light-color: #e0e0e0;
    
    /*  Size */
    --padding: 12px;
    --top-padding : 12px;
    --side-padding : 12px;
    --avatar-size: 36px;

    /* Font Size */
    --font-huge: 20px;
    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
}

ul {
    /* 리스트모양?(앞에 점생기는거)을 없애준다. */
    list-style: none;
}

/* 버튼과 버튼이 선택되었을때 설정값 없앰 */
button,button:focus {
    border: none;
    cursor: pointer;
    outline: none;
}








/* Header */
header{
    display: flex;
    justify-content: space-between;
    padding: var(--top-padding);
    background-color: var(--black-color);
    color: var(--white-color);
}

header .logo {
    font-size: var(--font-huge);
}

header .logo i {
    color: var(--red-color);
}

header .icons .fa-search{
    margin-right: var(--padding);
}


/* Video Player */
.player {
    position: sticky;
        top: 0;
    text-align: center;
    background-color: var(--black-color);
}
.player video {
    width: 100%;
    height: 100%;
    max-width: 1000px;
}


/* Info */
.info {
    padding: var(--padding);
}

.info .metadata .hastags {
    display: flex;
    font-size: var(--font-small);
    color: var(--blue-color);
}

.info .metadata .hastags li {
    margin-right: var(--padding);
}

.info .metadata .TitleAndButton {
    display: flex;
}

.info .metadata .TitleAndButton .title {
    font-size: var(--font-medium);

    /* 텍스트 줄수 고정시키는 방법*/
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;

    margin-right: var(--padding);

}

.info .metadata .TitleAndButton .moreBtn {
    height: 100%;
}

.info .view {
    font-size: var(--font-small);
    color: var(--grey-dark-color);
}


/* Action */
.action {
    display: flex;
    justify-content: space-around;
    /* 위아래만 넣고 양옆은 0 */
    margin: var(--padding) 0;
}

.action button {
    display: flex;
    flex-direction: column;
    font-size: var(--font-small);
    color: var(--grey-dark-color);

    /* TODO: 이거 왜 백그라운드 기본으로 들어가있지? 이거 설정안해주면 안하얌.. 나만그래 */
    background-color: var(--white-color);
}

/* FIXME: 안이쁨 글자랑 이미지랑 몬가 안이쁘게 나옴... */
.action button i {
    /* 패딩사이즈의 반만넣고 싶다면 */
    margin-bottom: calc ( var(--padding) / 2 );
    /* 패딩을 넣었더니 왼쪽으로 밀려서 중앙으로 위치 잡기 */
    margin: 0 auto;
    font-size: var(--font-medium);
}

.action button i.active {
    color:var(--blue-color);
}


/* Channel */
.channel {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--grey-light-color);
    border-bottom: 1px solid var(--grey-light-color);
    
}

.channel .matadata {
    display: flex;
    align-items: center;
}

.channel .matadata img {
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 50%;
}

.channel .metadata .info {
    display: flex;
    flex-direction: column;
}

.channel .metadata .info .channelName {
    font-size: var(--font-medium);
}

.channel .metadata .info .subscribers {
    font-size: var(--font-small);
    color: var(--grey-dark-color);
}

.channel .sucscribe {
    text-transform: uppercase;
    color: var(--red-color);
    font-size: var(--font-medium);
}